.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #BBF1F1;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.small-App-header {
  background-color: #282c34;
  width: 100vw;
  display: flex;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
  padding: 0px 10px;
}

.article-card {
  border-radius: 5px;
  margin: 1em;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.18);
  background-color: azure;
  padding: 5px;
  max-width: 600px;
  line-height: 2em;
  color: #333333
}

.title {
  font-size: 1.2em;
  padding: 5PX;
  font-family: 'News Cycle', sans-serif;
  margin-bottom: 10px;
  margin-top: 0px;
}

.votes-and-comments {
  display: flex;
  justify-content: space-between;
}

p {
  margin: 0px;
}

.topic-football{
 align-self: end;
 background-color: #3b5998;
 width: fit-content;
 padding: 0em 1em ;
 border-radius: 5px;
 color: white;
 font-size: small;
 line-height: 1.2em;
 margin-bottom: 0.8em;
}

.topic-cooking{
  align-self: end;
  background-color: #983b3b;
  width: fit-content;
  padding: 0em 1em ;
  border-radius: 5px;
  color: white;
  font-size: small;
  line-height: 1.2em;
  margin-bottom: 0.8em;
 }

 .topic-coding{
  align-self: end;
  background-color: #3b983b;
  width: fit-content;
  padding: 0em 1em ;
  border-radius: 5px;
  color: white;
  font-size: small;
  line-height: 1.2em;
  margin-bottom: 0.8em;
 }

nav {
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.comments-header{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: flex-end;
}

.comment-card{
  margin: 10px 0px;
}

.article-header {
  height: 200px;
  display: flex;
  justify-content: center;
}

.article {
  width: 80vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 7vw;
  margin-top: -5em;
  border-radius: 1em;
  line-height: 1.75em;
  color: #333333;
  box-sizing: border-box;
}

.article-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.article-topic-football {
  background-color: #3b5998;
  width: fit-content;
  padding: 0em 1em ;
  border-radius: 5px;
  color: white;
  font-size: small;
}

.article-topic-cooking {
  background-color: #983b3b;
  width: fit-content;
  padding: 0em 1em ;
  border-radius: 5px;
  color: white;
  font-size: small;
}

.article-topic-coding {
  background-color: #3b983b;
  width: fit-content;
  padding: 0em 1em ;
  border-radius: 5px;
  color: white;
  font-size: small;
}

.author {
  font-weight: bold;
  margin: 1em 0em;
}

.article-body {
  background-color: rgb(227, 244, 244);
  padding: 7vw;
  box-sizing: border-box;
  border-radius: 1em;
  margin-bottom: 2em;
}

h1 {
  line-height: 1.2em;
}

.all-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.comment-form {
  margin: 2em 0em;
  display: flex;
  flex-direction: column;
}

.inputField {
  max-width: 300px;
  height: 3em;
  margin-bottom: 1em;
}

.submit-button {
  width: 100px;
}

.votes {
  display: flex;
  margin: 5px;
}

.vote-button-container {
  display: flex;
  flex-direction: column;
  margin: 0 0.2em;
}

.vote-button {
  border: none;
  background-color: azure;
  border-radius: 3px;
}

.vote-button:hover:enabled {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.18);
}